<!-- nav -->

<nav class="navbar navbar-expand navbar-custom">    
    <div class="navbar-nav">    
        <ng-container *ngIf="currentUser; then loggedIn; else loggedOut"></ng-container>
        <ng-template #loggedIn>
            <a class="button fancy-button" routerLink="/"><i class="material-icons">home</i>Home</a>
            <a class="button fancy-button" (click)="logout()"><i class="material-icons">exit_to_app</i>Logout</a>
        </ng-template>
        <ng-template #loggedOut>
            <a class="button fancy-button" routerLink="/"><i class="material-icons">home</i>Home</a>
            <a class="button fancy-button" routerLink="/login"><i class="material-icons">vpn_key</i>Login</a>
            <a class="button fancy-button" routerLink="/register"><i class="material-icons">fiber_new</i>Register</a>
        </ng-template>
    </div>    
</nav>

<!-- main content container -->
<alert></alert>
<div class="container">
    <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="page-footer font-small bg-blue mt-15">
    <div class="footer-copyright text-center py-3">
      <span style="color: white;">Juan Bolaño</span>
    </div>  
</footer>
<!-- Footer -->